#Paths
**/Debug
**/Profile
**/Release
**/Retail

#Exceptions
!Source/GameOS/Lib/*

#File Types
*.log
*.tlog
*.log.txt
*.tgl
*.agl
*.log
*.suo
*.sdf
*.opensdf
*.pdb
*.user
*.dbg
*.ipch

#Specific Files
Source/*.cfg
Source/*.old
Source/*.fst
Source/*.tga
Source/*.dll
Source/*.exe
Source/Data/savegame/**

#TODO: WHAT???
Source/Data/*.txm
Source/Data/Textures/*.txm
FinalBuild/Data/Textures/*.txm