#Paths
**/Debug
**/Profile
**/Release

#File Types
*.log
*.tlog
*.log.txt
*.tgl
*.agl
*.log
*.suo
*.sdf
*.opensdf
*.pdb
*.user
*.dbg

#Specific Files
/Source/*.cfg
/Source/*.old
/Source/*.fst
/Source/*.tga
/Source/*.dll
/Source/Data/savegame/**